<script src="~/Content/DataTables (1)/datatables.min.js"></script>
<link href="~/Content/DataTables (1)/datatables.min.css" rel="stylesheet" />
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/buttons.print.min.js"></script>
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/dataTables.buttons.min.js"></script>
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/buttons.semanticui.min.js"></script>
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/buttons.jqueryui.min.js"></script>
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/buttons.html5.min.js"></script>
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/buttons.foundation.min.js"></script>
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/buttons.flash.min.js"></script>
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/buttons.colVis.min.js"></script>
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/DataTables (1)/Buttons-1.6.5/js/buttons.bootstrap.min.js"></script>

<link href="~/Content/DataTables (1)/Buttons-1.6.5/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/Buttons-1.6.5/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/Buttons-1.6.5/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/Buttons-1.6.5/css/buttons.foundation.min.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/Buttons-1.6.5/css/buttons.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/Buttons-1.6.5/css/buttons.semanticui.min.css" rel="stylesheet" />


<link href="~/Content/DataTables (1)/SearchPanes-1.2.2/css/searchPanes.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/SearchPanes-1.2.2/css/searchPanes.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/SearchPanes-1.2.2/css/searchPanes.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/SearchPanes-1.2.2/css/searchPanes.foundation.min.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/SearchPanes-1.2.2/css/searchPanes.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/DataTables (1)/SearchPanes-1.2.2/css/searchPanes.semanticui.min.css" rel="stylesheet" />

<script src="~/Content/DataTables (1)/SearchPanes-1.2.2/js/dataTables.searchPanes.min.js"></script>
<script src="~/Content/DataTables (1)/SearchPanes-1.2.2/js/searchPanes.bootstrap.min.js"></script>
<script src="~/Content/DataTables (1)/SearchPanes-1.2.2/js/searchPanes.bootstrap4.min.js"></script>
<script src="~/Content/DataTables (1)/SearchPanes-1.2.2/js/searchPanes.dataTables.min.js"></script>
<script src="~/Content/DataTables (1)/SearchPanes-1.2.2/js/searchPanes.foundation.min.js"></script>
<script src="~/Content/DataTables (1)/SearchPanes-1.2.2/js/searchPanes.jqueryui.min.js"></script>
<script src="~/Content/DataTables (1)/SearchPanes-1.2.2/js/searchPanes.semanticui.min.js"></script>

@model IEnumerable<CourierService.ViewModels.Orders.OrderViewModel>
<div class="">
    <table class="table table-hover" id="SubMiscellaneoustable">
        <thead style="background:#eaefef;">
            <tr>
                <th scope="col" style="width:100px !important;">Name</th>
                <th scope="col" style="width:150px !important;">Address</th>
                <th scope="col" style="width:100px !important;">Customer_Reference</th>
                <th scope="col" style="width:100px !important;">Order_Status</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td style="width:100px !important;">@item.Receiver.Name</td>
                    <td style="width:150px !important;">@(item.Receiver.Address_Line2==null ? item.Receiver.Address_Line1 + item.Receiver.Suburb+ "," + item.Receiver.State_Name + " " + item.Receiver.Postcode: item.Receiver.Address_Line2)</td>


                    <td style="width: 100px !important;">
                        @item.Customer_Reference
                    </td>

                    @if (item.DeliveredDate.ToShortDateString().Contains("0001"))
                    {
                        <td style="width:100px !important;">
                            <h4>
                                <span class="badge badge-info x3">@item.OrderStatus.Name</span>
                            </h4>
                            <span>Created_On</span>
                            <h5>
                                <span class="badge badge-info x3">@item.CreatedOn.Value.ToShortDateString()</span>
                            </h5>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="badge" style="background-color:green;color:white">@item.OrderStatus.Name</span>
                            <br />
                            <h3>
                                <span class="badge" style="background-color:green;color:white">
                                    @item.DeliveredDate.ToShortDateString()
                                </span>
                            </h3>
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>
<script>
    $(function () {

        var t = $('#SubMiscellaneoustable').DataTable({
            searching: true,
            paging: true,
            pageLength: 5,
            info: true,
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0,
            }],
            "order": [[1, 'asc']],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'excel', className: 'btn btn-primary' }
            ],
        });
    })
</script>
