@model IEnumerable<CourierService.ViewModels.Orders.OrderViewModel>
@{
    ViewBag.Title = "ReceiverList";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    .classhover:hover {
        color: #4f99ff !important;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <!-- Tab variant tab card start -->
        <div class="card">
            <div class="card-header">
                <h5 style="font-size: 25px !important;">Order's Detail</h5>
            </div>
            <div class="card-block tab-icon">
                <!-- Row start -->
                <div class="row">
                    <div class="col-lg-12 col-xl-12">

                        <!-- Nav tabs -->
                        <div class="col-lg-3">
                            <ul class="nav nav-tabs md-tabs " role="tablist">
                                <li class="nav-item" id="inprocess">
                                    <a class="nav-link active classhover" data-toggle="tab" href="#profile7" role="tab" style="font-size: 20px !important;"><i class="fa fa-cogs"></i>InProcess</a>
                                    <div class="slide"></div>
                                </li>
                            </ul>
                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content card-block">
                            <div class="tab-pane active" id="profile7" role="tabpanel">
                                <div id="Inprocess">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Row end -->
            </div>
        </div>
        <!-- Tab variant tab card start -->
    </div>
</div>
<img id="loading-image" src="~/Content/Images/PdfMergingLoader.gif" style="display:none" />

<div class="modal" tabindex="-1" role="dialog" id="CustomerReferenceModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="ReceiverName">

                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/ReceiverList/UpdateCRSingle" @*id="ECR"*@>
                <div class="modal-body">
                    <input name="Id" hidden id="Customer_Reference_Id" />
                    <input type="text" class="form-control" name="Customer_Reference" />
                </div>
                <div class="modal-footer">
                    <button type="submit" @*id="ECRButton"*@ class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {

    <script>


        $("#All").click(function () {


            $.ajax({
                url: '@Url.Action("AllOrders", "CreatingOrders")',
                beforeSend: function () {
                    $("#loading-image").show();
                },
		    })
            .done(function (response) {
                //debugger;
                $("#AllPartialView").html(response);
                $("#loading-image").hide();
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	    alert("FAIL");
            });


            //$("#DeliveredPartialView").load('/CreatingOrders/DeliveredOrders');

        });
    </script>

    <script>
        function SendRequest(Id) {
            $.ajax({
                type: "GET",
                url: "/ReceiverList/TrackOrder/" + Id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert(data);
                },
                error: function (result) {
                    alert('Please Try Again...');
                }
            });
        }
    </script>

    <script>

        $("#Delivered").click(function () {


            $.ajax({
                url: '@Url.Action("DeliveredOrders", "CreatingOrders")',
                beforeSend: function () {
                    $("#loading-image").show();
                },
		    })
            .done(function (response) {
                //debugger;
                $("#DeliveredPartialView").html(response);
                getAllUniqueDeliveredPracticeId();
                $("#loading-image").hide();
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	    alert("FAIL");
            });


            //$("#DeliveredPartialView").load('/CreatingOrders/DeliveredOrders');

        });
    </script>

    <script>

        function getAllUniqueDeliveredPracticeId() {
            $.ajax({
                type: "GET",
                url: "/ReceiverList/GetAllUniqueDeliveredPracticeId",
                dataType: "json",
                success: function (result) {
                    $('#searchDDDerlivered').html('');
                    var rows1 = "<option value='' selected disabled > --Select PracticeId--</option >";
                    $('#searchDDDerlivered').append(rows1);

                    $.each(result, function (i, item) {
                        var rows;
                        rows = "<option value='" + item + "'>" + item + "</option>";
                        $('#searchDDDerlivered').append(rows);
                    });
                }
            })
        };
    </script>

    <script>

        $("#Cancelled").click(function () {


            $.ajax({
                url: '@Url.Action("CancelledOrders", "CreatingOrders")',
                beforeSend: function () {
                    $("#loading-image").show();
                },
		    })
            .done(function (response) {
                //debugger;
                $("#CancelledPartialView").html(response);
                getAllUniqueCanceledPracticeId();
                $("#loading-image").hide();
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	    alert("FAIL");
            });
        });
    </script>

    <script>

        function getAllUniqueCanceledPracticeId() {
            $.ajax({
                type: "GET",
                url: "/ReceiverList/GetAllUniqueCanceledPracticeId",
                dataType: "json",
                success: function (result) {
                    $('#searchDDCanceled').html('');
                    var rows1 = "<option value='' selected disabled > --Select PracticeId--</option >";
                    $('#searchDDCanceled').append(rows1);

                    $.each(result, function (i, item) {
                        var rows;
                        rows = "<option value='" + item + "'>" + item + "</option>";
                        $('#searchDDCanceled').append(rows);
                    });
                }
            })
        };
    </script>

    <script>
        //checkboxes select all and unselect
        $('#checkall').change(function () {
            $('.cb-element').prop('checked', this.checked);
        });

        $('.cb-element').change(function () {
            if ($('.cb-element:checked').length == $('.cb-element').length) {
                $('#checkall').prop('checked', true);
            }
            else {
                $('#checkall').prop('checked', false);
            }

        });

    </script>



    <script>
        //disable create order button until chechbox and date not selected
        $(function () {
            var chk = $('.check');
            var btn = $('#getvalues');

            chk.on('change', function () {
                btn.prop("disabled", !this.checked);//true: disabled, false: enabled
            }).trigger('change'); //page load trigger event

        });

    </script>


    <script>

        @*$('#ECRButton').click(function () {
            var Id = $('form#ECR').serialize();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateCRSingle", "ReceiverList")',
                data:Id,
                success: function (data) {
                    $("#CustomerReferenceModal").modal('hide');
                    window.location.href = "/ReceiverList/ReceiverList";
                },
                error: function (result) {
                    alert('Please Try Again...');
                }
            });
        });*@



        CustomerReferenceModal = function (Id) {

                $.ajax({
                    type: "GET",
                    url: "/ReceiverList/GetOrderName/" + Id,
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#CustomerReferenceModal").modal('show');


                        $("#Customer_Reference_Id").val(Id);
                        $("#ReceiverName").text(data.Receiver.Name);

                    },
                    error: function (result) {
                        alert('Please Try Again...');
                    }
                });
            };

    </script>

    <script>
        //pass pickupdate and id's in array to creating order methode
        $("#getvalues").click(function () {
            var pickUpDate = $(".datepickerpost").val();
            var List = [];
            $("input[name='checkboxselected']:checked").each(function (id) {

                var closestTr = $(this).closest('tr').attr('id');
                List.push(closestTr);

            });

            var data0 = { Id: List, PickUpDate: pickUpDate };

            var json = JSON.stringify(data0);

            $.ajax({
                type: "POST",
                url: "/CreatingOrders/CreatingOrder",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    swal('Order Created Successfully...');
                    window.location.reload();
                }
            });
        });
    </script>


    <script>

        //save forms
        $("#save_Refbtn").click(function () {

            var customerarray = [];

            $('#InProcesstable tr').each(function () {

                var customerName = $(this).find(".cref-name").val();
                var orderId = $(this).find(".orderId").val();

                queryStr = { "Customer_Reference": customerName, "Id": orderId };
                customerarray.push(queryStr);

            });

            customerarray.shift();
            $.ajax({
                type: 'POST',
                url: '/ReceiverList/UpdateCustomerRefrenceInProcess',
                data: { "model": customerarray }
            })
                .done(function (response) {
                    alert("Save")
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail")
                });
        });
    </script>

    <script>

        //save forms processed
        $("#save_Refbtnprocessed").click(function () {

            var customerarrayProcessed = [];

            $('#Processedtable tr').each(function () {

                var customerNameProcessed = $(this).find(".cref-nameProcessed").val();
                var orderIdProcessed = $(this).find(".orderIdProcessed").val();

                queryStr1 = { "Customer_Reference": customerNameProcessed, "Id": orderIdProcessed };
                customerarrayProcessed.push(queryStr1);

            });

            customerarrayProcessed.shift();
            $.ajax({
                type: 'POST',
                url: '/ReceiverList/UpdateCustomerRefrenceProcessed',
                data: { "model": customerarrayProcessed }
            })
                .done(function (response) {

                    alert("Save")
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail")
                });
        });
    </script>


    <script>
        $("#searchbtn").click(function () {
            debugger
            var searchvalue = $("#searchTxt").val();

            $.ajax({
                url: '/ReceiverList/ProcessedOrdersSearch',
                data: {
                    Search: searchvalue
                }
            })
                .done(function (response) {
                    $("#Processed").html(response);
                })
                .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
                    alert("Fail");
                });
        });
    </script>

    <script>
        //Reset Button
        $("#resetBtn").click(function () {
            var searchvalue = '';

            $.ajax({
                url: '/ReceiverList/GetAllProcessedOrders',
                data: {
                    Search: searchvalue
                }
            })
                .done(function (response) {
                    $("#Processedtable").html(response);
                })
                .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
                    alert("Fail");
                });
        });
    </script>

    <script>
        $("#searchbtnInProcess").click(function () {
            debugger
            var searchvalue = $("#searchTxtInProcess").val();

            $.ajax({
                url: '/ReceiverList/InprocessOrderSearch',
                data: {
                    Search: searchvalue
                }
            })
                .done(function (response) {
                    $("#InProcesstable").html(response);
                })
                .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
                    alert("Fail");
                });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#selectSearch').on('change', function () {
                debugger
                var selected = $('#selectSearch option:selected').val();


                $.ajax({
                    url: '/ReceiverList/GetSelectedOrders',
                    data: {
                        id: selected
                    }
                })
                    .done(function (response) {
                        $("#InProcesstable").html(response);

                    })
                    .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
                        alert("Fail");
                    });

            });
            InProcessOrder();
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/ReceiverList/GetAllUniquePracticeId",
                dataType: "json",
                success: function (result) {
                    $('#searchDD').html('');
                    var rows1 = "<option value='' selected disabled > --Select PracticeId--</option >";
                    $('#searchDD').append(rows1);

                    $.each(result, function (i, item) {
                        var rows;
                        rows = "<option value='" + item + "'>" + item + "</option>";
                        $('#searchDD').append(rows);
                    });
                }
            });
        });
    </script>


    <script>

        $("#processed").click(function () {
            debugger

            $.ajax({
                url: '@Url.Action("GetAllProcessedOrders", "ReceiverList")',
                beforeSend: function () {
                    $("#loading-image").show();
                },
		    })
            .done(function (response) {
                debugger;
                $("#Processed").html(response);
                getAllUniquePracticeId();
                $("#loading-image").hide();

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	    alert("FAIL");
            });
        });
    </script>

    <script>

        function getAllUniqueInProcessPracticeId() {
            $.ajax({
                type: "GET",
                url: "/ReceiverList/GetAllUniqueInProcessPracticeId",
                dataType: "json",
                success: function (result) {
                    $('#searchDDIn').html('');
                    var rows1 = "<option value='' selected disabled > --Select PracticeId--</option >";
                    $('#searchDDIn').append(rows1);

                    $.each(result, function (i, item) {
                        var rows;
                        rows = "<option value='" + item + "'>" + item + "</option>";
                        $('#searchDDIn').append(rows);
                    });
                }
            })
        };
    </script>

    <script>

        $("#inprocess").click(function () {
            debugger

            InProcessOrder();
        });
    </script>

    <script>

        function InProcessOrder() {

        $.ajax({
                url: '@Url.Action("GetInprocessOrder", "ReceiverList")',
                beforeSend: function () {
                    $("#loading-image").show();
                },
		    })
            .done(function (response) {
                debugger;
                $("#Inprocess").html(response);
                getAllUniqueInProcessPracticeId();
                $("#loading-image").hide();

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	    alert("FAIL");
            });
        };
    </script>
}
